In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/california-housing-feature-engineering/california.png
/kaggle/input/california-housing-feature-engineering/cal_populations_city.csv
/kaggle/input/california-housing-feature-engineering/cal_cities_lat_long.csv
/kaggle/input/california-housing-feature-engineering/cal_populations_county.csv

In [3]:
city_pop = pd.read_csv("/kaggle/input/california-housing-feature-engineering/cal_populations_city.csv")

In [4]:
city_pop.shape

(455, 7)

In [5]:
city_pop.head()

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010
0,San Bernardino,Adelanto,1970,2164.0,8517,18130,31765
1,Los Angeles,Agoura Hills,1982,NaN,20390,20537,20330
2,Alameda,Alameda,1854,63852.0,76459,72259,73812
3,Alameda,Albany,1908,15130.0,16327,16444,18539
4,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089

In [6]:
city_pop["City"]

0          Adelanto
1      Agoura Hills
2           Alameda
3            Albany
4          Alhambra
           ...
450     Yorba Linda
451      Yountville
452           Yreka
453       Yuba City
454         Yucaipa
Name: City, Length: 455, dtype: object

In [7]:
city_pop["City"][20]

'Auburn'

In [8]:
city_pop.iloc[20]

County                 Placer
City                   Auburn
Incorportation_date      1888
pop_april_1980           7540
pop_april_1990          10592
pop_april_2000          12462
pop_april_2010          13330
Name: 20, dtype: object

In [9]:
city_pop.iloc[20][1]

'Auburn'

In [10]:
city_pop.loc[:10, ['City','County']]

            City          County
0       Adelanto  San Bernardino
1   Agoura Hills     Los Angeles
2        Alameda         Alameda
3         Albany         Alameda
4       Alhambra     Los Angeles
5        Alturas           Modoc
6    Amador City          Amador
7        Anaheim          Orange
8       Anderson          Shasta
9         Angels       Calaveras
10       Antioch    Contra Costa

In [11]:
city_pop.set_index("City")

,County,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010
City,,,,,,
Adelanto,San Bernardino,1970,2164.0,8517,18130,31765
Agoura Hills,Los Angeles,1982,NaN,20390,20537,20330
Alameda,Alameda,1854,63852.0,76459,72259,73812
Albany,Alameda,1908,15130.0,16327,16444,18539
Alhambra,Los Angeles,1903,64767.0,82106,85804,83089
...,...,...,...,...,...,...
Yorba Linda,Orange,1967,28254.0,52422,58918,64234
Yountville,Napa,1965,2893.0,3259,3297,2933
Yreka,Siskiyou,1857,5916.0,6948,7290,7765
Yuba City,Sutter,1908,18736.0,27437,36758,64925
Yucaipa,San Bernardino,1989,NaN,32824,41207,51367

In [12]:
city_pop.loc[city_pop.County == 'Merced']

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010
19,Merced,Atwater,1922,17530.0,22282,23113,28168
106,Merced,Dos Palos,1935,3121.0,4196,4581,4950
154,Merced,Gustine,1915,3142.0,3931,4698,5520
213,Merced,Livingston,1922,5326.0,7317,10473,13058
224,Merced,Los Banos,1907,10341.0,14519,25869,35972
240,Merced,Merced,1889,36499.0,56216,63893,78958

In [13]:
city_pop['pop_april_2020'] = 0
city_pop.head()

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010,pop_april_2020
0,San Bernardino,Adelanto,1970,2164.0,8517,18130,31765,0
1,Los Angeles,Agoura Hills,1982,NaN,20390,20537,20330,0
2,Alameda,Alameda,1854,63852.0,76459,72259,73812,0
3,Alameda,Albany,1908,15130.0,16327,16444,18539,0
4,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089,0

In [14]:
city_pop.pop_april_2010.describe()

count    4.550000e+02
mean     6.531554e+04
std      2.036141e+05
min      1.120000e+02
25%      1.065750e+04
50%      2.880600e+04
75%      6.676900e+04
max      3.792621e+06
Name: pop_april_2010, dtype: float64

In [15]:
city_pop.County.unique()

array(['San Bernardino', 'Los Angeles', 'Alameda', 'Modoc', 'Amador',
       'Orange', 'Shasta', 'Calaveras', 'Contra Costa', 'Humboldt',
       'San Luis Obispo', 'Kern', 'San Mateo', 'Merced', 'Placer',
       'Kings', 'Riverside', 'Marin', 'Solano', 'Butte', 'Inyo',
       'Imperial', 'Napa', 'Ventura', 'Santa Clara', 'Santa Cruz',
       'San Diego', 'Monterey', 'Santa Barbara', 'Stanislaus', 'Madera',
       'Sonoma', 'Fresno', 'Colusa', 'Tehama', 'Del Norte', 'Yolo',
       'Tulare', 'Siskiyou', 'San Joaquin', 'Sacramento', 'Mendocino',
       'Nevada', 'San Benito', 'Lake', 'Sutter', 'Sierra', 'Mono', 'Yuba',
       'Glenn', 'El Dorado', 'Plumas', 'San Francisco', 'Tuolumne',
       'Lassen'], dtype=object)

In [16]:
city_pop.County.value_counts()

Los Angeles        86
Orange             29
San Bernardino     22
Riverside          21
San Mateo          20
Contra Costa       18
San Diego          18
Fresno             15
Santa Clara        15
Alameda            14
Monterey           12
Kern               11
Marin              11
Ventura            10
Stanislaus          9
Siskiyou            9
Tulare              8
Sonoma              8
Solano              7
Imperial            7
San Joaquin         7
San Luis Obispo     7
Humboldt            7
Merced              6
Santa Barbara       6
Placer              6
Butte               5
Amador              5
Napa                4
Mendocino           4
Santa Cruz          4
Kings               4
Sacramento          4
Yolo                4
Tehama              3
Glenn               2
San Benito          2
Sutter              2
Yuba                2
Nevada              2
Shasta              2
El Dorado           2
Madera              2
Colusa              2
Inyo                1
Sierra              1
San Francisco       1
Lake                1
Plumas              1
Lassen              1
Del Norte           1
Modoc               1
Calaveras           1
Mono                1
Tuolumne            1
Name: County, dtype: int64

In [18]:
city_pop.groupby('County').pop_april_2010.max()

County
Alameda             390724
Amador                7918
Butte                86187
Calaveras             3836
Colusa                5971
Contra Costa        122067
Del Norte             7643
El Dorado            21403
Fresno              494665
Glenn                 7291
Humboldt             27191
Imperial             42598
Inyo                  3879
Kern                347483
Kings                53967
Lake                  4753
Lassen               17947
Los Angeles        3792621
Madera               61416
Marin                57713
Mendocino            16075
Merced               78958
Modoc                 2827
Mono                  8234
Monterey            150441
Napa                 76915
Nevada               12860
Orange              336265
Placer              118788
Plumas                2104
Riverside           303871
Sacramento          466488
San Benito           34928
San Bernardino      209924
San Diego          1307402
San Francisco       805235
San Joaquin         291707
San Luis Obispo      45119
San Mateo           101123
Santa Barbara        99553
Santa Clara         945942
Santa Cruz           59946
Shasta               89861
Sierra                 769
Siskiyou              7765
Solano              115942
Sonoma              167815
Stanislaus          201165
Sutter               64925
Tehama               14076
Tulare              124442
Tuolumne              4903
Ventura             197899
Yolo                 65622
Yuba                 12072
Name: pop_april_2010, dtype: int64

In [21]:
city_pop.groupby('County').pop_april_2010.max().sort_values()

County
Sierra                 769
Plumas                2104
Modoc                 2827
Calaveras             3836
Inyo                  3879
Lake                  4753
Tuolumne              4903
Colusa                5971
Glenn                 7291
Del Norte             7643
Siskiyou              7765
Amador                7918
Mono                  8234
Yuba                 12072
Nevada               12860
Tehama               14076
Mendocino            16075
Lassen               17947
El Dorado            21403
Humboldt             27191
San Benito           34928
Imperial             42598
San Luis Obispo      45119
Kings                53967
Marin                57713
Santa Cruz           59946
Madera               61416
Sutter               64925
Yolo                 65622
Napa                 76915
Merced               78958
Butte                86187
Shasta               89861
Santa Barbara        99553
San Mateo           101123
Solano              115942
Placer              118788
Contra Costa        122067
Tulare              124442
Monterey            150441
Sonoma              167815
Ventura             197899
Stanislaus          201165
San Bernardino      209924
San Joaquin         291707
Riverside           303871
Orange              336265
Kern                347483
Alameda             390724
Sacramento          466488
Fresno              494665
San Francisco       805235
Santa Clara         945942
San Diego          1307402
Los Angeles        3792621
Name: pop_april_2010, dtype: int64

In [19]:
city_pop.groupby(['County']).pop_april_2010.agg([min,max])

                    min      max
County
Alameda           10080   390724
Amador              185     7918
Butte              1707    86187
Calaveras          3836     3836
Colusa             5123     5971
Contra Costa      10897   122067
Del Norte          7643     7643
El Dorado         10389    21403
Fresno             4001   494665
Glenn              6166     7291
Humboldt            367    27191
Imperial           2225    42598
Inyo               3879     3879
Kern               1154   347483
Kings             15505    53967
Lake               4753     4753
Lassen            17947    17947
Los Angeles         112  3792621
Madera            18720    61416
Marin              2068    57713
Mendocino           449    16075
Merced             4950    78958
Modoc              2827     2827
Mono               8234     8234
Monterey            334   150441
Napa               2933    76915
Nevada             3068    12860
Orange             5812   336265
Placer             1963   118788
Plumas             2104     2104
Riverside          4958   303871
Sacramento          804   466488
San Benito         1862    34928
San Bernardino     4844   209924
San Diego          4161  1307402
San Francisco    805235   805235
San Joaquin        7132   291707
San Luis Obispo    7655    45119
San Mateo          1792   101123
Santa Barbara      5245    99553
Santa Clara        3341   945942
Santa Cruz         9918    59946
Shasta             9932    89861
Sierra              769      769
Siskiyou            737     7765
Solano             7360   115942
Sonoma             7265   167815
Stanislaus         6640   201165
Sutter             8392    64925
Tehama              418    14076
Tulare             7279   124442
Tuolumne           4903     4903
Ventura            7461   197899
Yolo               6624    65622
Yuba               3456    12072

In [25]:
city_pop[pd.isnull(city_pop.pop_april_1980)]

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010,pop_april_2020
1,Los Angeles,Agoura Hills,1982,NaN,20390,20537,20330,0
11,San Bernardino,Apple Valley,1988,NaN,46079,54239,69135,0
37,San Bernardino,Big Bear Lake,1980,NaN,5351,5438,5019,0
61,Riverside,Cathedral City,1981,NaN,30085,42647,51200,0
95,Orange,Dana Point,1989,NaN,31896,35110,33351,0
102,Los Angeles,Diamond Bar,1989,NaN,53672,56287,55544,0
111,San Mateo,East Palo Alto,1983,NaN,23451,29506,28155,0
118,San Diego,Encinitas,1986,NaN,55386,58014,59518,0
164,San Bernardino,Hesperia,1988,NaN,50418,62582,90173,0
166,San Bernardino,Highland,1987,NaN,34439,44605,53104,0
195,Riverside,La Quinta,1982,NaN,11215,23694,37467,0
199,Orange,Laguna Niguel,1989,NaN,44400,61891,62979,0
205,San Joaquin,Lathrop,1989,NaN,6841,10445,18023,0
219,Placer,Loomis,1984,NaN,5705,6260,6430,0
244,Orange,Mission Viejo,1988,NaN,72820,93102,93305,0
253,Ventura,Moorpark,1983,NaN,25494,31415,34421,0
255,Riverside,Moreno Valley,1984,NaN,118779,142381,193365,0
277,Contra Costa,Orinda,1985,NaN,16642,17599,17643,0
312,San Diego,Poway,1980,NaN,43516,48044,47811,0
361,Contra Costa,San Ramon,1983,NaN,35303,44722,72148,0
367,Los Angeles,Santa Clarita,1987,NaN,110642,151088,176320,0
374,San Diego,Santee,1980,NaN,52902,52975,53413,0
386,San Diego,Solana Beach,1986,NaN,12962,12979,12867,0
388,Santa Barbara,Solvang,1985,NaN,4741,5332,5245,0
406,Riverside,Temecula,1989,NaN,27099,57716,100097,0
417,San Bernardino,Twentynine Palms,1987,NaN,11821,14764,25048,0
436,Los Angeles,West Hollywood,1984,NaN,36118,35794,34399,0
437,Yolo,West Sacramento,1987,NaN,28898,31615,48744,0
438,Los Angeles,Westlake Village,1981,NaN,7455,8368,8270,0
454,San Bernardino,Yucaipa,1989,NaN,32824,41207,51367,0

In [29]:
city_pop.rename(columns={'Incorportation_date': 'Incorporated', 'pop_april_1980' : 'pop_1980'})

,County,City,Incorporated,pop_1980,pop_april_1990,pop_april_2000,pop_april_2010,pop_april_2020
0,San Bernardino,Adelanto,1970,2164.0,8517,18130,31765,0
1,Los Angeles,Agoura Hills,1982,NaN,20390,20537,20330,0
2,Alameda,Alameda,1854,63852.0,76459,72259,73812,0
3,Alameda,Albany,1908,15130.0,16327,16444,18539,0
4,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089,0
...,...,...,...,...,...,...,...,...
450,Orange,Yorba Linda,1967,28254.0,52422,58918,64234,0
451,Napa,Yountville,1965,2893.0,3259,3297,2933,0
452,Siskiyou,Yreka,1857,5916.0,6948,7290,7765,0
453,Sutter,Yuba City,1908,18736.0,27437,36758,64925,0
454,San Bernardino,Yucaipa,1989,NaN,32824,41207,51367,0

In [33]:
city_loc = pd.read_csv("/kaggle/input/california-housing-feature-engineering/cal_cities_lat_long.csv")
city_loc.head()

           Name   Latitude   Longitude
0      Adelanto  34.582769 -117.409214
1  Agoura Hills  34.153339 -118.761675
2       Alameda  37.765206 -122.241636
3        Albany  37.886869 -122.297747
4      Alhambra  34.095286 -118.127014

In [38]:
city_loc.set_index("Name")
city_pop.set_index("City")

,County,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010,pop_april_2020
City,,,,,,,
Adelanto,San Bernardino,1970,2164.0,8517,18130,31765,0
Agoura Hills,Los Angeles,1982,NaN,20390,20537,20330,0
Alameda,Alameda,1854,63852.0,76459,72259,73812,0
Albany,Alameda,1908,15130.0,16327,16444,18539,0
Alhambra,Los Angeles,1903,64767.0,82106,85804,83089,0
...,...,...,...,...,...,...,...
Yorba Linda,Orange,1967,28254.0,52422,58918,64234,0
Yountville,Napa,1965,2893.0,3259,3297,2933,0
Yreka,Siskiyou,1857,5916.0,6948,7290,7765,0
Yuba City,Sutter,1908,18736.0,27437,36758,64925,0
Yucaipa,San Bernardino,1989,NaN,32824,41207,51367,0

In [40]:
city_pop.join(city_loc).head()

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010,pop_april_2020,Name,Latitude,Longitude
0,San Bernardino,Adelanto,1970,2164.0,8517,18130,31765,0,Adelanto,34.582769,-117.409214
1,Los Angeles,Agoura Hills,1982,NaN,20390,20537,20330,0,Agoura Hills,34.153339,-118.761675
2,Alameda,Alameda,1854,63852.0,76459,72259,73812,0,Alameda,37.765206,-122.241636
3,Alameda,Albany,1908,15130.0,16327,16444,18539,0,Albany,37.886869,-122.297747
4,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089,0,Alhambra,34.095286,-118.127014